.pageNumbers{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.pageNumbers li{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active, .btn{
    background-color: #3f51b5;
}